<mat-card class="game-card" [class.winner]="winner">
  <mat-card-content class="d-flex flex-column justify-content-center align-items-center w-100 h-100">
    <h3>{{ person.name }}</h3>
    <app-icon [icon]="'person' + (index + 1)" [width]="200" [height]="200"></app-icon>
    <div class="mt-4">
      <p>Mass: {{ person.mass }}</p>
      <p>Height: {{ person.height }}</p>
      <p>Birth year: {{ person.birth_year }}</p>
      <p>Eye color: {{ person.eye_color }}</p>
      <p>Skin color: {{ person.skin_color }}</p>
    </div>
  </mat-card-content>
</mat-card>
